@font-face {
  font-family: 'Futura PT';
  font-weight: 400;
  src: url(FuturaPT-Book.eot),
    url(FuturaPT-Book.eot?#iefix) format('embedded-opentype'),
    url(FuturaPT-Book.woff) format('woff'),
    url(FuturaPT-Book.ttf) format('ttf');
}

@font-face {
  font-family: 'Futura PT';
  font-weight: 500;
  src: url(FuturaPT-Medium.eot),
    url(FuturaPT-Medium.eot?#iefix) format('embedded-opentype'),
    url(FuturaPT-Medium.woff) format('woff'),
    url(FuturaPT-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Futura PT';
  font-weight: 700;
  src: url(FuturaPT-Heavy.eot),
    url(FuturaPT-Heavy.eot?#iefix) format('embedded-opentype'),
    url(FuturaPT-Heavy.woff) format('woff'),
    url(FuturaPT-Heavy.ttf) format('ttf');
}